<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tes 1</title>

    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <style>
        .error {
            color: crimson;
        }
        .wrapper {
            padding: 15px;
        }
    </style>
</head>
<body>
    
    <div id="app">
        <!-- v-bind digunakan karena ingin mengambil data dari parent -->
        <!-- $emit bisa langsung komunikasi dengan parent -->
        <Headers tesprops="Others" v-bind:logos="logo" v-on:tesemit="tesemit"></Headers>
        <router-view 
            v-bind:items="kelas" 
            v-on:process="process"
            v-on:hapuskelas="hapuskelas"
            v-on:submitkelas="submitkelas">
        </router-view>
    </div>

    <script src="./vue.js"></script> <!-- this is development mode and can be use devtools vuejs -->
    <!-- <script src="./vue.min.js"></script> --> <!-- this is production mode and can't be use devtools vuejs -->
    <script src="./vue-router.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script> <!-- generate id otomatis -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js"></script>
    
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCoRb5ShEmh1P4CuzNozPvGIBuPSAlbRbQ",
            authDomain: "try-vuejs.firebaseapp.com",
            databaseURL: "https://try-vuejs.firebaseio.com",
            projectId: "try-vuejs",
            storageBucket: "try-vuejs.appspot.com",
            messagingSenderId: "218453519420",
            appId: "1:218453519420:web:12a8df661e713a255b2739"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const database = firebase.database();
        const kelasRef = database.ref('kelas');
    </script>

    <script>

        const Home = { template: '<div>Home</div>' }
        const About = { template: '<div>About</div>' }
        const Work = {
            props: ["items"],
            template: `<div class="wrapper">
                            <div>
                                <h3>Tambah Data</h3>
                                <form v-on:submit.prevent="submitkelas">
                                    <div class="form-group">
                                        <input type="text" v-model="kelas.judul" placeholder="Nama Kelas">
                                        <span class="error" v-if="error.judul"> <small>{{ error.judul }}</small> </span>
                                    </div> <br>
                                    <div class="form-group">
                                        <label>Deskripsi</label> <br>
                                        <textarea v-model="kelas.deskripsi"></textarea>
                                        <span class="error" v-if="error.deskripsi"> <small>{{ error.deskripsi }}</small> </span>
                                    </div> <br>
                                    <div class="form-group">
                                        <p><img :src="prevewImg" v-if="prevewImg"></p>
                                        <label>Gambar</label> <br>
                                        <input type="file" v-on:change="upload" ref="gambar">
                                    </div> <br>
                                    <div class="form-group">
                                        <button type="submit">Submit</button>
                                    </div>
                                </form>
                            </div> <br>
                            <p>Jumlah : {{ items.length }}</p>
                            <template v-if="items.length">
                                <ul>
                                    <li v-for="(item,index) in items">
                                        <img :src="url_gambar(item.image)" width="100">
                                        <p>
                                            {{ index }} - {{ item.judul }}
                                            <a href="" v-on:click.prevent="$emit('hapuskelas', item.id)">&nbsp;Hapus</a>
                                            <router-link :to="'/work/'+ item.id">Detail Kelas</router-link>
                                        </p>
                                    </li>
                                </ul>
                            </template>
                            <li v-else>Item Belum Tersedia</li>
                        </div>`,
            data: function() {
                return {
                    kelas: {
                        id: uuidv4(),
                        judul: '',
                        deskripsi: '',
                        image: ''
                    },
                    prevewImg: "",
                    error: {
                        judul: '',
                        deskripsi: ''
                    }
                }
            },
            methods: {
                submitkelas: function() {
                    this.error.judul = "";
                    this.error.deskripsi = "";

                    if(this.kelas.judul == ""){
                        this.error.judul = "* Judul is Required.";
                    }
                    if(this.kelas.deskripsi == ""){
                        this.error.deskripsi = "* Deskripsi is Required.";
                    }

                    if(this.kelas.judul && this.kelas.deskripsi) {
                        const data = {
                            id: uuidv4(),
                            judul: this.kelas.judul,
                            deskripsi: this.kelas.deskripsi,
                            image: this.kelas.image
                        }
                        this.$emit('submitkelas', data); // calling methods on parent

                        this.kelas.judul = "";
                        this.kelas.deskripsi = "";
                        this.kelas.image = "";
                        this.prevewImg = "";
                        this.$refs.gambar.value = ""; // menghapus name value input file
                    }
                },
                upload: function(event) {
                    const nmImg = event.target.files[0].name;
                    this.kelas.image = nmImg;
                    this.prevewImg = URL.createObjectURL(event.target.files[0]);
                },
                url_gambar: function(gambar){
                    return  gambar;
                }
            }
        }
        const DetailWork = { 
            template: `<div>
                            <h1>{{ detailKelas.judul }}</h1> <span>{{ $route.params.idKelas }}</span>
                            <p><img :src="url_gambar(detailKelas.image)" width="100"></p>
                            <p>{{ detailKelas.deskripsi }}</p><br><br>
                            <p><router-link to="/work">Kembali</router-link></p>
                        </div>`,
            data() {
                return {
                    detailKelas: {}
                }
            },
            created() {
                this.filterKelas();
            },
            methods: {
                filterKelas() {
                    let kelas = JSON.parse(localStorage.getItem('data'));
                    let id = this.$route.params.idKelas;
                    let item = kelas.filter(k => k.id == id);
                    this.detailKelas = item[0];
                },
                url_gambar: function(gambar){
                    return gambar;
                }
            }
        }
        
        const NotFound = { template: '<div>Halaman Tidak Ditemukan</div>' }

        const routes = [
            { path: '/', component: Home },
            { path: '/about', component: About },
            { path: '/work', component: Work },
            { path: '/work/:idKelas', component: DetailWork },
            { path: '*', component: NotFound }
        ]

        const router = new VueRouter({
            mode: 'history',
            routes // short for `routes: routes`
        })

        Vue.component('Headers', {
            props: ["tesprops", "logos"],
            template: `
                <nav>
                    <div class="logo">
                        <h4>{{ logos }}</h4>
                    </div>
                    <ul class="nav-links">
                        <li>
                            <router-link to="/">Home</router-link>
                        </li>
                        <li>
                            <router-link to="/about">About</router-link>
                        </li>
                        <li>
                            <router-link to="/work">Work</router-link>
                        </li>
                        <li><a href="#">{{ tesprops }}</a></li>
                    </ul>
                    <div class="burger" v-on:click="clicks">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </nav>
            `,
            data: function() {
                return {
                    home: 'Home',
                    abouts: 'About'
                }
            },
            methods: {
                clicks: function(e) {
                    const burger = document.querySelector('.burger');
                    const nav = document.querySelector('.nav-links');
                    const navLinks = document.querySelectorAll('.nav-links li');

                    nav.classList.toggle('nav-active');
                    //animated
                    navLinks.forEach((link, index) => {
                        if(link.style.animation){
                            link.style.animation = ``;
                        }else{
                            link.style.animation = `navLinksFaded 0.5s ease forwards ${index / 7 + .4}s`;
                        }
                    });
                    //animated burger toggle
                    burger.classList.toggle('animate');
                }
            }
        })

        //The Vue Instance
        //This is Parent
        const vm = new Vue({
            el: '#app',
            router,
            data: {
                logo: 'The Nav',
                kelas: []
            },
            beforeCreate() { //fungsi life cycle vue => di jalankan ketika vue instance di create
                console.log('Before Create');
            },
            created() { //fungsi life cycle vue => di jalankan ketika vue instance di create
                kelasRef.on('value', this.resultData, this.errorData);
            },
            mounted() { //fungsi life cycle vue => di jalankan ketika vue instance di create
                console.log('Mounted');
            },
            beforeUpdate() { //fungsi life cycle vue => di jalankan ketika ada update/pindah page dll
                console.log('Before Update');
            },
            updated() { //fungsi life cycle vue => di jalankan ketika ada update/pindah page dll
                console.log('Updated');
            },
            methods: {
                resultData: function(result) {
                    this.kelas = [];
                    
                    result.forEach((item) => {
                        let data = {
                            id: item.key,
                            judul: item.val().judul,
                            deskripsi: item.val().deskripsi,
                            image: item.val().image
                        }
                        this.kelas.push(data);
                    })
                },
                errorData: function(error) {
                    console.log(error);
                },
                tesemit: function() {
                    this.logo = 'Uhuy'
                },
                process: function(e) {
                    let data = e.target.value;
                    this.kelas.unshift(data);
                    e.target.value = "";
                },
                hapuskelas: function(id) {
                    database.ref('/kelas/'+ id).remove();

                    swal({
                        text: "Data Berhasil Disimpan.",
                        icon: "success",
                        // button: "Aww yiss!",
                    });
                },
                submitkelas: function(data) {
                    kelasRef.push({
                        judul: data.judul,
                        deskripsi: data.deskripsi,
                        image: data.image
                    });

                    swal({
                        title: data.judul ,
                        text: "Data Berhasil Disimpan.",
                        icon: "success",
                        // button: "Aww yiss!",
                    });
                }
            }
        });
    </script>
</body>
</html>
